.menu_active{
    font-weight: bold;
    border-bottom: 1px solid white

}
.homeText{
  padding-top: 50px; 
  padding-bottom: 50px;
  padding-left: 75px;
 
  
}
.btn-get-started{
  padding: 8px 12px;
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:#091C30;
  background-color: whitesmoke;
  border: 1px solid #091C30;
  border-radius: 25px;
  box-shadow: 0 2px #999;
  font-weight: 200;
}

.btn-get-started:hover {background-color: #091C30;color:whitesmoke;}

.btn-get-started:active {
  background-color: #091C30;
  color:whitesmoke;
  box-shadow: 0 2px #999;
  transform: translateY(4px);
}
  
  
  